.formDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.formInput::placeholder {
  text-align: left !important;
}

.formInputA::placeholder {
  text-align: right !important;
}

@media screen and (max-width: 580px) {
  .formDiv {
    margin-top: 2%;
  }
}
