.serviceDiv {
  display: flex;
  flex-direction: column;
  padding: 10vh 10vw;
  background: linear-gradient(rgba(24, 22, 51, 0.7), rgba(29, 25, 78, 0.7)),
    url("../../../public/assets/download-bg.jpeg");
  background-size: cover;
  align-items: center;
  text-align: center;
  color: white;
}

.servicePlayDiv {
  display: flex;
}

.serviceText {
  font-style: italic;
  font-size: 15px;
}
