.subDiv {
  display: flex;
  padding: 10vh 10vw;
  justify-content: center;
}

.subTitleDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1%;
  width: 65%;
  background: url("../../../public/assets/newsletter-background.png");
  background-position: center;
  background-size: 220%;
}

.subInput {
  padding: 2%;
  margin-bottom: 2%;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #d8cfcf;
  box-shadow: 1px 1px 10px #b4b3b3;
}

.subInput:focus {
  outline: none;
}

.subInput::placeholder {
  text-align: center;
}

@media screen and (max-width: 650px) {
  .subInput {
    font-size: 12px;
  }
}

@media screen and (max-width: 580px) {
  .subDiv {
    padding: 2vh 5vw;
  }
}

