.codeDiv{
  padding: 10vh 10vw;
}

.iconsBox {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
}

.iconBox {
  display: flex;
}

@media screen and (max-width: 580px) {
  .codeDiv{
    padding: 2vh 5vw;
  }

  .iconsBox {
    margin-top: 2vh;
  }
}