.pricingDiv {
  background-color: #f6f9fe;
  padding: 10vh 10vw;
}

.cardsDiv {
  display: flex;
  border: 1px solid;
  justify-content: center;
}

.pricingHelp {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5%;
  text-align: center;
}

.pricingLink {
  color: black;
}

@media screen and (max-width: 580px) {
  .pricingDiv {
    background-color: #f6f9fe;
    padding: 2vh 5vw;
  }

  .cardsDiv {
    flex-direction: column;
    padding: 0 25%;
  }
}

@media screen and (max-width: 500px) {
  .cardsDiv {
    padding: 0 15%;
  }
}
