.toolsDiv {
  display: flex;
  padding: 10vh 10vw;
  background-color: #f6f9fe;
}
.imageBoxA {
  margin-right: 5%;
}

@media screen and (max-width: 580px) {
  .toolsDiv {
    flex-direction: column-reverse;
    padding: 2vh 5vw;
    text-align: center;
  }

  .imageBox {
    margin-top: 2%;
  }
}