.contactDiv {
  display: flex;
  flex-direction: column;
  padding: 10vh 10vw;
  background-color: #f6f9fe;
}

.contactSubDiv,
.contactSubDivA {
  display: flex;
  padding-top: 5vh;
}

.contactSubDivA {
  flex-direction: row-reverse;
}

@media screen and (max-width: 580px) {
  .contactDiv {
    padding: 2vh 5vw;
  }

  .contactSubDiv,
  .contactSubDivA {
    padding-top: 2vh;
    flex-direction: column;
    align-items: center;
  }
}
