.header {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  position: relative;
}

.navbar {
  width: 50%;
  border: 1px solid;
  align-self: flex-end;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

.menu {
  cursor: pointer;
  display: none;
}

.navbar a:hover {
  color: lightblue;
}

.navbar a:nth-child(1)::after,
.navbar a:nth-child(3)::after {
  content: " 🢓";
  vertical-align: -45%;
}

@media screen and (max-width: 1000px) {
  .navbar {
    width: 55%;
    margin-right: 5%;
  }

  .navbar a {
    color: green;
    /* font-size: 17px; */
  }
}

@media screen and (max-width: 910px) {
  .navbar {
    width: 60%;
    margin-right: 1%;
  }

  .navbar a {
    color: yellow;
    font-size: 17px;
  }
}

@media screen and (max-width: 800px) {
  .navbar a {
    color: red;
    font-size: 15px;
  }
}

@media screen and (max-width: 730px) {
  .menu {
    display: initial;
  }

  .navbar {
    display: none;
  }
}
