.header {
  display: flex;
  flex-direction: column;
  border: 1px solid;
}
.navbar {
  width: 45vw;
  border: 1px solid;
  align-self: flex-end;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: black;
}

.navbar a:hover {
  color: lightblue;
}

.navbar a:nth-child(1)::after,
.navbar a:nth-child(3)::after {
  content: " 🢓";
  vertical-align: -45%;
}

@media screen and (max-width: 865px) {
  .navbar {
    width: 48vw;
  }

  .navbar a {
    color: red;
    font-size: 15px;
  }
}

@media screen and (max-width: 730px) {
  .navbar {
    width: 55vw;
  }

  .navbar a {
    color: pink;
    font-size: 14px;
  }
}
