.codeBox {
  width: 70%;
  margin: auto;
  text-align: center;
}

.codeTitle,
.codeTitleA {
  font-size: 45px;
}

.codeTitleA {
  text-align: right;
}

.codeLine {
  width: 50px;
  color: #7c4fdf;
}

@media screen and (max-width: 990px) {
  .codeTitle,
  .codeTitleA {
    font-size: 35px;
  }
}

@media screen and (max-width: 910px) {
  .codeTitle, .codeTitleA {
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {
  .codeBox {
    width: 85%;
  }

  .codeTitle,
  .codeTitleA {
    font-size: 25px;
  }
}
