.codeBox {
  width: 70%;
  margin: auto;
  border: 1px solid;
  text-align: center;
}

.codeTitle {
  font-size: 45px;
}

.codeLine {
  width: 50px;
  color: #7c4fdf;
}

@media screen and (max-width: 990px) {
  .codeTitle {
    font-size: 35px;
  }
}

@media screen and (max-width: 910px) {
  .codeTitle {
    font-size: 30px;
  }
}

@media screen and (max-width: 800px) {
  .codeBox {
    width: 85%;
  }

  .codeTitle {
    font-size: 25px;
  }
}
