.iconDiv {
  flex: 30%;
  padding: 0 1%;
  text-align: center;
}

.icon {
  font-size: 40px;
  color: gray;
}

@media screen and (max-width: 635px) {
  .iconDiv {
    flex: 40%;
  }
}

@media screen and (max-width: 410px) {
  .iconTitle{
    font-size: 13px;
  }
}