.titleIntro {
  flex: 1.2;
}

.title {
  font-size: 58px;
}

.titleText {
  font-size: 15px;
  opacity: 0.7;
}

@media screen and (max-width: 910px) {
  .title {
    font-size: 40px;
  }

  .titleText {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 30px;
  }

  .titleText {
    font-size: 13px;
  }
}

@media screen and (max-width: 650px) {
  .title {
    font-size: 25px;
  }

  .titleText {
    font-size: 12px;
  }
}

@media screen and (max-width: 370px) {
  .titleText {
    font-size: 12px;
  }
}