.titleIntro {
  flex: 1.2;
}

.titleIntroA {
  flex: 1.2;
  text-align: right;
  flex-direction: row-reverse;
}

.title {
  font-size: 58px;
}

.titleText,
.titleTextA {
  font-size: 15px;
  opacity: 0.7;
}

.titleTextA {
  text-align: right;
}

@media screen and (max-width: 910px) {
  .title {
    font-size: 40px;
  }

  .titleText,
  .titleTextA {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 30px;
  }

  .titleText,
  .titleTextA {
    font-size: 13px;
  }
}

@media screen and (max-width: 650px) {
  .title {
    font-size: 25px;
  }

  .titleText,
  .titleTextA {
    font-size: 12px;
  }
}

@media screen and (max-width: 370px) {
  .titleText,
  .titleTextA {
    font-size: 12px;
  }
}
