.introBox,
.introBoxA {
  display: flex;
  padding: 10vh 10vw;
}

.introBoxA {
  flex-direction: row-reverse;
}

@media screen and (max-width: 580px) {
  .introBox {
    flex-direction: column;
    text-align: center;
    padding: 2vh 5vw;
  }
}
