.iconBtn {
  padding: 12px 15px;
  background-color: #fff;
  border-radius: 5px;
  color: #7c4fdf;
  font-size: larger;
  border: 1px solid #d8cfcf;
  box-shadow: 1px 1px 10px #b4b3b3;
  margin-right: 3%;
}
